@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

body {
    background-color: rgba(226, 232, 240, 0.9);
}

textarea::-webkit-resizer {
    width: 40px;
    height: 40px;
    display: block;
    background: url(../img/ugol.svg) no-repeat center;
    background-size: cover;
}

.real-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.custom-checkbox {
    width: 24px;
    height: 24px;
    background-image: url(../img/star-btn.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.real-checkbox:checked + .custom-checkbox {
    background-image: url(../img/star-gold.svg);
}

.icon-star-gold {
    background-image: url("../img/star-gold.svg");
}
.icon-star-btn {
    background-image: url("../img/star-btn.svg");
}
