@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

body {
    background-color: rgba(226, 232, 240, 0.9);
}
